.root {
    -fx-background-color: linear-gradient(to left bottom, #e6caff, #f0f9ff);
}

.adminMenuBackground {
    -fx-background-color: linear-gradient(to right bottom, #6441A5, #2a0845);
}

/* Buton stilleri */
.adminButton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 19px;
    -fx-cursor: hand;
    -fx-font-weight: bold;

}

/* Buton hover efekti */
.adminButton:hover {
    -fx-background-color: #e6caff;
    -fx-text-fill: #580519;
}

.adminBackToMenu{
    -fx-background-color: linear-gradient(to bottom, #6441A5, #2a0845);
    -fx-background-radius: 15px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.adminBackToMenu:hover {
    -fx-background-color: linear-gradient(to bottom, #80b0ff, #373B44);
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.adminDeleteQuestion {
    -fx-background-color: linear-gradient(#FFE000, #799F0C);
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.5), 30,0,0,0);
}

.adminExitButton {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.adminAcceptButton {
    -fx-background-color: linear-gradient(to bottom, #0f9b0f, #000000);
    -fx-background-radius: 15px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.adminAcceptButton:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 20,0,0,0);
}

.adminCancelButton {
    -fx-background-color: linear-gradient(to bottom, #df4444, #910a0a);
    -fx-background-radius: 15px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.adminCancelButton:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 20,0,0,0);
}
.adminAddPopUpsBackground {
    -fx-background-color: linear-gradient(to bottom, #e6caff, #f0f9ff);
}

.adminAddPopUpsTextField {
    -fx-background-radius: 15;
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(to bottom, #6441A5, #2a0845);
    -fx-border-radius: 15;
    -fx-font-family: Arial;
    -fx-font-size: 15;
    -fx-text-fill: #6441A5;
    -fx-font-weight: bold;

}

.table-view {
    -fx-background-color: white;
    -fx-background-radius: 20;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #6441A5, #2a0845);
}

.table-view .column-header-background . label{
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.table-view .column-header .arrow {
    -fx-background-color: white;
}

.table-row-cell{
    -fx-background-color: #efefef;
}

.table-row-cell:odd {
    -fx-background-color: #ffffff;
}

.table-row-cell:selected{
    -fx-background-color: linear-gradient(to bottom, #03a9fc, #03dbfc);
    -fx-text-fill: white;
}

.table-view .cell{
    -fx-cell-size: 35;

}

.table-view .table-cell {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-family: Arial;
    -fx-alignment: center-left;
}

.menu-button {
    -fx-background-color: linear-gradient(to bottom, #6441A5, #2a0845);
    -fx-background-radius: 25px;
}

.menu-button:hover {
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.menu-button .arrow{
    -fx-background-color: white;
}

.menu-item {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-padding: 0 69 20 69;
}
