.welcomeBackground {
    -fx-background-color: linear-gradient(to right bottom, #abffc8, white);
}

.welcomeCard {
    -fx-background-color: linear-gradient(to bottom, #11998e, #38ef7d);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30,0,0,0);
}

.loginChoiceButton {
    -fx-background-color: linear-gradient(to bottom, #249912, #18710c);
    -fx-background-radius: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10,0,0,0);
}

.loginChoiceButton:hover {
    -fx-background-color: linear-gradient(to bottom, #11998e, #38ef7d);
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.5), 10,0,0,0);
}

.loginStudentBackground {
    -fx-background-color: linear-gradient(to left bottom, #ffd4d4, #f0f9ff);
}

.loginStudentCard {
    -fx-background-color: linear-gradient(to bottom, #bc3c3c, #ff8989);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30,0,0,0);
}

.loginStudentButtons{
    -fx-background-color: linear-gradient(to bottom, #910a0a, #df4444);
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 10 , 0, 0, 0);
}

.loginStudentButtons:hover {
    -fx-background-color: linear-gradient(to bottom, #bc3c3c, #ff8989);
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 20, 0, 0, 0);
}

.loginScholarBackground {
    -fx-background-color: linear-gradient(to left bottom, #bbe8f7, #f0f9ff);
}

.loginScholarCard {
    -fx-background-color: linear-gradient(to bottom, #80b0ff, #4286f4);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30,0,0,0);
}

.loginScholarButtons {
    -fx-background-color: linear-gradient(to bottom, #4286f4, #373B44);
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 10 , 0, 0, 0);
}

.loginScholarButtons:hover {
    -fx-background-color: linear-gradient(to bottom, #80b0ff, #4286f4);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 20,0,0,0);
}
