.root {
    -fx-background-color: linear-gradient(to right bottom, #bbe8f7, #f0f9ff);
}

.scholarMenuBackground{
    -fx-background-color: linear-gradient(to right bottom, #4286f4, #373B44);
}

.scholarButton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 19px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.scholarButton:hover {
    -fx-background-color: #41c0ff;
    -fx-text-fill: #0b0866;
}

.scholarMainMenuCards {
    -fx-background-color: linear-gradient(to bottom, #80b0ff, #4286f4);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30,0,0,0);
}

.scholarBackToMenu{
    -fx-background-color: linear-gradient(to bottom, #4286f4, #373B44);
    -fx-background-radius: 15px;
}

.scholarBackToMenu:hover {
    -fx-background-color: linear-gradient(to bottom, #80b0ff, #373B44);
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.table-view {
    -fx-background-color: white;
    -fx-background-radius: 20;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #4286f4, #373B44);
}

.table-view .column-header-background . label{
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.table-view .column-header .arrow {
    -fx-background-color: white;
}

.table-row-cell{
    -fx-background-color: #efefef;
}

.table-row-cell:odd {
    -fx-background-color: #ffffff;
}
.table-view .cell{
    -fx-cell-size: 35;

}

.table-view .table-cell {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-family: Arial;
    -fx-alignment: center-left;
}

.menu-button {
    -fx-background-color: linear-gradient(to bottom, #4286f4, #373B44);
    -fx-background-radius: 25px;
}

.menu-button:hover {
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.menu-button .arrow{
    -fx-background-color: white;
}

.menu-item {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-padding: 0 69 20 69;
}

.shadow {
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 30, 0, 0, 0);
}