.root {
    -fx-background-color: linear-gradient(to left bottom, #bbe8f7, #f0f9ff);
}

.scholarMenuBackground{
    -fx-background-color: linear-gradient(to right bottom, #4286f4, #373B44);
}

.scholarButton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 19px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.scholarButton:hover {
    -fx-background-color: #41c0ff;
    -fx-text-fill: #0b0866;
}

.scholarMainMenuCards {
    -fx-background-color: linear-gradient(to bottom, #80b0ff, #4286f4);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30,0,0,0);
}

.scholarBackToMenu{
    -fx-background-color: linear-gradient(to bottom, #4286f4, #373B44);
    -fx-background-radius: 15px;
}

.scholarBackToMenu:hover {
    -fx-background-color: linear-gradient(to bottom, #80b0ff, #373B44);
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.table-view {
    -fx-background-color: white;
    -fx-background-radius: 20;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #4286f4, #373B44);
}

.table-view .column-header-background . label{
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.table-view .column-header .arrow {
    -fx-background-color: white;
}

.table-row-cell{
    -fx-background-color: #efefef;
}

.table-row-cell:odd {
    -fx-background-color: #ffffff;
}
.table-view .cell{
    -fx-cell-size: 35;

}

.table-view .table-cell {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-family: Arial;
    -fx-alignment: center-left;
}

.menu-button {
    -fx-background-color: linear-gradient(to bottom, #4286f4, #373B44);
    -fx-background-radius: 25px;
}

.menu-button:hover {
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.menu-button .arrow{
    -fx-background-color: white;
}

.menu-item {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-padding: 0 69 20 69;
}

.shadow {
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 30, 0, 0, 0);
}

/* --- TOGGLE SWITCH (Şekil Ayarları) --- */
.toggle-switch .box {
    -fx-pref-width: 50px;
    -fx-pref-height: 20px;
    -fx-background-color: #ccc; /* Varsayılan gri */
    -fx-background-radius: 10px;
    -fx-border-radius: 12px;
}

.toggle-switch .mark {
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-background-color: white;
    -fx-background-radius: 100px;
    -fx-shape: "M 10 0 A 10 10 0 1 1 10 20 A 10 10 0 1 1 10 0 Z";
    -fx-scale-shape: false;
    -fx-translate-x: -12px;
    -fx-cursor: hand;
}

/* CheckBox seçili olduğunda */
.toggle-switch:selected .box {
    -fx-background-color: #4CAF50; /* Yeşil (Ortak renk) */
}

.toggle-switch:selected .mark {
    -fx-translate-x: 12px;
}