/* Öğrenci menüsü */
.studentMenuBackground{
    -fx-background-color: linear-gradient(to right bottom, #910a0a, #ff8989);
}

/* Buton stilleri */
.studentButton {
    -fx-background-color: transparent;  /* yeşil arka plan */
    -fx-text-fill: white;           /* yazı rengi beyaz */
    -fx-font-size: 19px;
    -fx-cursor: hand;               /* hover el ikonu */
    -fx-font-weight: bold;           /* Bold / normal */

}

/* Buton hover efekti */
.studentButton:hover {
    -fx-background-color: #ffbaba;
    -fx-text-fill: #580519;
}
/* Öğrenci ana menüye don butonu */
.backToMenu{
    -fx-background-color: #910a0a;
    -fx-background-radius: 15px;
}
/* Öğrenci ana menüye don hover */
.backToMenu:hover {
    -fx-background-color: #ff8989;
}

.studentMainMenuCards {
    -fx-background-color: linear-gradient(to bottom, #df4444, #bc3c3c);
    -fx-background-radius: 30px;
}
.studentInformationCards {
    -fx-background-color: linear-gradient(to bottom, #dfd3d3, #eae8e8);
}
.studentSubmitChanges {
    -fx-background-color: linear-gradient(to bottom, #5A3F37, #2C7744);
    -fx-background-radius: 30px;
}
.studentSubmitChanges:hover {
    -fx-background-color: linear-gradient(to bottom, #093637, #44A08D);
}
.shadow {
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.5), 30,0,0,0)
}
.academicCalendar {
    -fx-background-color: linear-gradient(to bottom, #910a0a, #ff8989);
}
.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #910a0a, #ff8989);
}

.table-view .column-header-background . label{
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.table-row-cell{
    -fx-background-color: #efefef;
}

.table-row-cell:odd {
    -fx-background-color: #ffffff;
}
.table-view .cell{
    -fx-cell-size: 35;

}

.table-view .table-cell {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-family: Arial;
    -fx-alignment: center-left;
}

