/* Genel arka plan ve font */
.root {
    -fx-background-color: #dddddd;
    -fx-font-family: "Arial";

}
.pane{
    -fx-background-color: #6b0409;
    -fx-background-radius: 80;
}
/* Buton stilleri */
.button {
    -fx-background-color: #4CAF50;  /* yeşil arka plan */
    -fx-text-fill: white;           /* yazı rengi beyaz */
    -fx-font-size: 14px;
    -fx-background-radius: 16;       /* köşe yuvarlama */
    -fx-cursor: hand;               /* hover el ikonu */
    -fx-font-weight: bold;           /* Bold / normal */
    -fx-font-style: italic;
}

/* Buton hover efekti */
.button:hover {
    -fx-background-color: #00ff00;
}

/* Label stilleri */
.label {
    -fx-text-fill: #fbf7f7;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-font-style: italic;
}
.label-baslik{
    -fx-text-fill: #fbf7f7;

    -fx-font-weight: bold;
    -fx-font-size: 24px;
}
/* TextField stilleri */
.text-field {
    -fx-border-color: #0b0a0a;
    -fx-background-color:#fbf7f7 ;
    -fx-border-radius: 5;
    -fx-padding: 5;
}
.label-sifre{
    -fx-background-color:#8db6cd ;
    -fx-font-family: "Arial";       /* Yazı tipi */
    -fx-font-size: 10px;            /* Yazı boyutu */
    -fx-font-weight: bold;           /* Bold / normal */
    -fx-font-style: italic;          /* Italic */
    -fx-text-fill: #333333;          /* Yazı rengi */
    -fx-letter-spacing: 1px;        /* Harf aralığı */
    -fx-line-spacing: 1.2;          /* Satır aralığı (multi-line label için) */
    -fx-text-alignment: center;      /* Yazı hizalaması (left, right, center, justify) */
}

.button-dil{
    -fx-background-color:#6b0409 ;  /* yeşil arka plan */
    -fx-text-fill: white;           /* yazı rengi beyaz */
    -fx-font-size: 14px;
    -fx-background-radius: 16;       /* köşe yuvarlama */
    -fx-cursor: hand;               /* hover el ikonu */
    -fx-font-weight: bold;           /* Bold / normal */
    -fx-font-style: italic;
}

