.root {
    -fx-background-color: linear-gradient(to right bottom, #ffd4d4, #f0f9ff);
}

/* Öğrenci menüsü */
.studentMenuBackground{
    -fx-background-color: linear-gradient(to right bottom, #910a0a, #ff8989);
}

/* Buton stilleri */
.studentButton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 19px;
    -fx-cursor: hand;
    -fx-font-weight: bold;

}

/* Buton hover efekti */
.studentButton:hover {
    -fx-background-color: #ffbaba;
    -fx-text-fill: #580519;
}

.backToMenu{
    -fx-background-color: linear-gradient(to bottom, #df4444, #910a0a);
    -fx-background-radius: 15px;
}

.backToMenu:hover {
    -fx-background-color: linear-gradient(to bottom, #ffbaba, #910a0a);
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.studentMainMenuCards {
    -fx-background-color: linear-gradient(to bottom, #df4444, #bc3c3c);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30,0,0,0);
}
.studentInformationCards {
    -fx-background-color: linear-gradient(to bottom, #dfd3d3, #eae8e8);
}
.studentSubmitChanges {
    -fx-background-color: linear-gradient(to bottom, #093637, #44A08D);
    -fx-background-radius: 30px;
}
.studentSubmitChanges:hover {
    -fx-background-color: linear-gradient(to bottom, #38ef7d, #11998e);
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.5), 10,0,0,0);
}
.shadow {
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.5), 30,0,0,0);
}
.academicCalendar {
    -fx-background-color: linear-gradient(to bottom, #910a0a, #ff8989);
}
.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #910a0a, #ff8989);
}

.table-view .column-header-background . label{
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.table-row-cell{
    -fx-background-color: #efefef;
}

.table-row-cell:odd {
    -fx-background-color: #ffffff;
}
.table-view .cell{
    -fx-cell-size: 35;

}

.table-view .table-cell {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-family: Arial;
    -fx-alignment: center-left;
}

